.header-bar {
  height: 50px;
  width: 100%;
  background: rgb(218, 96, 96);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Ticket Icon */
.ticket-icon {
  position: relative;
  top: 5px;
  right: 600px;
}
.ticket-icon img {
  height: 40px;
  width: 50px;
}
/* Events */
.today-events {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
/* search */
#search-container {
  margin: auto;
}
#search {
  margin: auto;
}
#search-input {
  width: 1000px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  background: none;
  text-transform: lowercase;
  font-size: 20px;
}
#search-button {
  width: 100px;
  border: 1px solid grey;
  background: grey;
  color: #fff;
  font-size: 20px;
}
