/* Login */
.login {
  background-color: rgb(247, 118, 118);
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
#login-title {
  text-align: center;
  color: #000;
  font-size: 30px;
}
#email {
  width: 400px;
  height: 30px;
  background: none;
  font-size: 20px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
#password {
  width: 400px;
  height: 30px;
  background: none;
  font-size: 20px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
#button {
  text-align: center;
  width: 100px;
  height: 30px;
  background: grey;
  outline: none;
  border: none;
  color: #fff;
  position: relative;
  left: 155px;
}
/* Profile */
html,
body {
  height: 100%;
}
.container {
  height: 1000px;
  position: relative;
}
.content {
  width: 85%;
  padding: 50px;
  margin: 50px;
}
.profile-data {
  display: flex;
  flex-direction: row;
}
.profile-title {
  width: 100%;
}
#title {
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(218, 96, 96);
}
.data-profile {
  width: 50%;
  height: 300px;
  color: #464a4a;
  padding: 20px;
}
.image-profile {
  width: 50%;
  padding: 20px;
}
.image-profile img {
  width: 200px;
  height: 200px;
  float: right;
  border: 10px solid darkgrey;
  border-radius: 50%;
}
#profile-phone {
  font-size: 20px;
}
footer {
  width: 100%;
  height: 300px;
  background: #e6494c;
  line-height: 50px;
  color: #fff;
  float: bottom;
  /* position: absolute;
  top: 1300px; */
  display: flex;
  flex-direction: row;
}
#footer-a {
  width: 27.33%;
  padding: 20px;
  line-height: 20px;
}
#footer-b {
  width: 30.33%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}
#footer-c {
  width: 27.33%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}
/* Tickets */
.tickets {
  background: #fff;
  padding-top: 50px;
  height: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 200px;
}
.tickets-contain {
  width: 80%;
  margin: auto;
}
.ticket {
  margin: auto;
  width: 100%;
  border: 30px solid #e6494c;
  margin-bottom: 10px;
}
/* Event Detail */
.sum-result {
  width: 50px;
  max-width: 50px;
  height: 50px;
  border: 1px solid purple;
  color: "#000";
  position: relative;
  left: 720px;
  top: -10px;
}
.button-buy {
  position: relative;
  left: 720px;
}
.event-detail-detail {
  font-size: 20px;
  font-family: comic sans ms;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.event-detail-bottom {
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}
/* Add Event */
.addevent {
  background: #e6494c;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.addevent form {
  display: flex;
  flex-direction: column;
}
#addevent-title {
  margin: auto;
  margin-bottom: 30px;
  color: #fff;
}
.addevent form input,
select {
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid darkgrey;
  color: #fff;
  font-size: 20px;
}
.addevent form select option {
  background: transparent;
  color: #000;
  outline: none;
  border: none;
}
.addevent form button {
  width: 100px;
  height: 50px;
  margin: auto;
  border: none;
  background: grey;
  color: #fff;
  font-size: 20px;
}

/* Payment */
#payment-title {
  color: #e6494c;
}
#payment-container {
  width: 100%;
  background: #e6494c;
  padding-top: 20px;
  padding-bottom: 0px;
}
.payment-item {
  width: 80%;
  margin: auto;
  height: 500px;
  background: #fff;
  margin-bottom: 20px;
  padding: 10px;
}
.payment-order {
  width: 80%;
  height: 300px;
  margin: auto;
  border: 10px solid #e6494c;
}
.payment-order-name {
  width: 100%;
  height: 100px;
  background: lightgrey;
}
